<section id="contact" class="contact py-5 bg-light">
  <div class="container py-5">
    <h1 class="text-center py-5">{{ lang?.contact?.title }}</h1>
    <div class="row pb-3">
      <div class="col-md-10 mx-auto">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="circle">
              <span><i class="fas fa-location-arrow"></i></span>
            </div>
            <h5>{{ lang?.contact?.locationTitle }}</h5>
            <p>{{ lang?.contact?.location }}</p>
          </div>
          <div class="col-md-4">
            <div class="circle">
              <span><i class="fas fa-envelope"></i></span>
            </div>
            <h5>{{ lang?.contact?.emailTitle }}</h5>
            <p>{{ lang?.contact?.email }}</p>
          </div>
          <div class="col-md-4">
            <div class="circle">
              <span><i class="fas fa-phone"></i></span>
            </div>
            <h5>{{ lang?.contact?.phoneTitle }}</h5>
            <p>{{ lang?.contact?.phone }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <form novalidate (ngSubmit)="onSave()" [formGroup]="contactForm">
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control bg-light mb-3"
                placeholder="{{ lang?.contact?.textName }}"
                formControlName="name"
                [class]="isValidField('name')"
              />
              <div class="invalid-feedback mb-3">
                <span *ngIf="contactForm.get('name')?.errors?.['required']"
                  >Por favor, ingrese su nombre.</span
                >
              </div>
            </div>

            <div class="col-md-6">
              <input
                type="email"
                class="form-control bg-light mb-3"
                placeholder="{{ lang?.contact?.textEmail }}"
                formControlName="email"
                [class]="isValidField('email')"
              />
              <div class="invalid-feedback mb-3">
                <span *ngIf="contactForm.get('email')?.errors?.['required']"
                  >Por favor, ingrese su email.</span
                >
                <span *ngIf="contactForm.get('email')?.errors?.['pattern']"
                  >Por favor, ingrese un email válido.</span
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea
                name=""
                id=""
                class="form-control bg-light"
                placeholder="{{ lang?.contact?.textMessage }}"
                formControlName="message"
                [class]="isValidField('message')"
                rows="10"
              ></textarea>
              <div class="invalid-feedback mb-3">
                <span *ngIf="contactForm.get('message')?.errors?.['required']"
                  >Por favor, ingrese su mensaje.</span
                >
                <span *ngIf="contactForm.get('message')?.errors?.['minlength']"
                  >El mensaje debe tener más de
                  {{contactForm.get('message')?.errors?.['minlength']?.requiredLength}}
                  caracteres.</span
                >
                <span *ngIf="contactForm.get('message')?.errors?.['maxlength']"
                  >El mensaje puede contener menos de
                  {{contactForm.get('message')?.errors?.['maxlength']?.requiredLength}}
                  caracteres.</span
                >
              </div>
            </div>
          </div>
          <button type="submit" class="btn3 my-4">
            {{ lang?.contact?.textSubmit }}
          </button>
        </form>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-md-10 mx-auto">
        <div class="row text-center">
          <div class="col-md">
            <div class="circle mx-1" style="cursor: pointer">
              <span><i class="fab fa-facebook fa-lg fa-fw"></i></span>
            </div>
            <div class="circle mx-1" style="cursor: pointer">
              <span><i class="fab fa-instagram fa-lg fa-fw"></i></span>
            </div>
            <div class="circle mx-1" style="cursor: pointer">
              <span><i class="fab fa-twitter fa-lg fa-fw"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
