<section id="contact" class="contact py-5 bg-light">
  <div class="container py-5">
    <h1 class="text-center py-5">{{ lang?.contact?.title }}</h1>
    <div *ngIf="hasPerson">
      <div class="row pb-3">
        <div class="col-md-10 mx-auto">
          <div class="row text-center">
            <div class="col-md-4">
              <div class="circle">
                <span><i class="fas fa-location-arrow"></i></span>
              </div>
              <h5>{{ label?.locationTitle }}</h5>
              <p>{{ person?.location }}</p>
            </div>
            <div class="col-md-4">
              <div class="circle">
                <span><i class="fas fa-envelope"></i></span>
              </div>
              <h5>{{ label?.emailTitle }}</h5>
              <p>{{ person?.email }}</p>
            </div>
            <div class="col-md-4">
              <div class="circle">
                <span><i class="fas fa-phone"></i></span>
              </div>
              <h5>{{ lang?.phoneTitle }}</h5>
              <p>{{ person?.phone }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <form novalidate (ngSubmit)="onSave()" [formGroup]="contactForm">
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control bg-light mb-3"
                placeholder="{{ label?.textName }}"
                formControlName="name"
                [class]="isValidField('name')"
              />
              <div class="invalid-feedback mb-3">
                <span *ngIf="contactForm.get('name')?.errors?.['required']"
                  >Por favor, ingrese su nombre.</span
                >
              </div>
            </div>

            <div class="col-md-6">
              <input
                type="email"
                class="form-control bg-light mb-3"
                placeholder="{{ label?.textEmail }}"
                formControlName="email"
                [class]="isValidField('email')"
              />
              <div class="invalid-feedback mb-3">
                <span *ngIf="contactForm.get('email')?.errors?.['required']"
                  >Por favor, ingrese su email.</span
                >
                <span *ngIf="contactForm.get('email')?.errors?.['pattern']"
                  >Por favor, ingrese un email válido.</span
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea
                name=""
                id=""
                class="form-control bg-light"
                placeholder="{{ label?.textMessage }}"
                formControlName="message"
                [class]="isValidField('message')"
                rows="10"
              ></textarea>
              <div class="invalid-feedback mb-3">
                <span *ngIf="contactForm.get('message')?.errors?.['required']"
                  >Por favor, ingrese su mensaje.</span
                >
                <span *ngIf="contactForm.get('message')?.errors?.['minlength']"
                  >El mensaje debe tener más de
                  {{contactForm.get('message')?.errors?.['minlength']?.requiredLength}}
                  caracteres.</span
                >
                <span *ngIf="contactForm.get('message')?.errors?.['maxlength']"
                  >El mensaje puede contener menos de
                  {{contactForm.get('message')?.errors?.['maxlength']?.requiredLength}}
                  caracteres.</span
                >
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn3 my-4">
            {{ label?.cardSubmitButton }}
          </button>
        </form>
      </div>
    </div>
    <div *ngIf="hasPerson">
      <div class="row py-3">
        <div class="col-md-9 mx-auto text-center">
          <button type="button" class="btn buttonView" (click)="viewMessages()">
            {{ label?.cardViewMessages }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="hasPerson">
      <div class="row py-3">
        <div class="col-md-10 mx-auto">
          <div class="row text-center">
            <div class="col-md">
              <a
                *ngIf="person?.facebook != ''"
                href="{{ person?.facebook }}"
                target="_blank"
              >
                <div class="circle mx-1" style="cursor: pointer">
                  <span><i class="fab fa-facebook fa-lg fa-fw"></i></span>
                </div>
              </a>
              <a
                *ngIf="person?.instagram != ''"
                href="{{ person?.instagram }}"
                target="_blank"
              >
                <div class="circle mx-1" style="cursor: pointer">
                  <span><i class="fab fa-instagram fa-lg fa-fw"></i></span>
                </div>
              </a>
              <a
                *ngIf="person?.twitter != ''"
                href="{{ person?.twitter }}"
                target="_blank"
              >
                <div class="circle mx-1" style="cursor: pointer">
                  <span><i class="fab fa-twitter fa-lg fa-fw"></i></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
