<nav class="navbar navbar-expand-lg fixed-top text-uppercase">
  <div class="container">
    <a class="navbar-brand" routerLink="{{ lang?.argentina?.url }}"
      ><img src="{{ lang?.argentina?.src }}" alt="{{ lang?.argentina?.alt }}"
    /></a>
    <div *ngIf="isPerson">
      <a
        class="navbar-brand"
        routerLink="{{ person.logoUrl }}"
        fragment="{{ lang?.logo?.fragment }}"
        ><img src="{{ person.logoSrc }}" alt="{{ person.logoAlt }}"
      /></a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a
          *ngIf="isPerson"
          class="nav-link px-lg-2 rounded"
          routerLink="/{{ idPerson }}/{{ lang?.navbar?.home?.url }}"
          fragment="{{ lang?.navbar?.home?.fragment }}"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
          >{{ lang?.navbar?.home?.link }}</a
        >
        <div *ngFor="let item of items">
          <a
            *ngIf="isPerson"
            class="nav-link px-lg-2 rounded"
            routerLink="/{{ idPerson }}/{{ item?.url }}"
            fragment="{{ item?.fragment }}"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            >{{ item?.link }}</a
          >
        </div>
        <a
          *ngIf="!isLogged"
          class="nav-link px-lg-2 rounded"
          routerLink="/login"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
        >
          <i class="fas fa-sign-in-alt"></i> INICIAR SESIÓN
        </a>
        <a
          *ngIf="isLogged"
          class="nav-link px-lg-2 rounded"
          (click)="onLogOut()"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
        >
          <i class="fas fa-door-open"></i> CERRAR SESIÓN
        </a>
      </div>
    </div>
  </div>
</nav>
