
.navbar{
    background-color: white;
}

.nav-link{
    color: #775f3e;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:visited{
    color: #775f3e;
    background-color: white; 
}

.nav-link:hover {
    color:white;
    background-color: #b89462;
}


.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: #775f3e;
    cursor: pointer;
    text-decoration:none;
    height: 94px;
}

.navbar-toggler-icon{
    color:#775f3e;
    font-size: 1.5rem;
    padding-top: .3rem;
    padding-left: .2rem;
    padding-right: .2rem;
    border: none;

}

.navbar-toggler{
    box-shadow: none;
}
.navbar-toggler:focus{
    border:none;
    box-shadow: none;
}

