
.preloader {
    position: relative;
    display: block;
    margin: 5% auto;
    text-align: center;
      width: 70px;
      height: 70px;
      border: 10px solid #eee;
      border-top: 10px solid #666;
      border-radius: 50%;
      animation-name: girar;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes girar {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

.card{
    height: 100%;
    border:none;
    outline: none;
    position: relative;

    -webkit-box-shadow: -20px 24px 89px -46px rgba(0,0,0,0.59);
    -moz-box-shadow: -20px 24px 89px -46px rgba(0,0,0,0.59);
    box-shadow: -20px 24px 89px -46px rgba(0,0,0,0.59);
}


.card h4{
    color: #616161;
}
.card p{
    display: block;
    color: gray;
    text-align: center;
}

.circle{
    height: 70px;
    width: 70px;
    background-color: #d4f2d5;
    color: #616161;
    padding-top: 20px;
    font-size: 21px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.card:hover .circle{
    background-color: grey;
    color:white;
    transition: 0.5s;
}

.card a{
    color: #775f3e
}

.card a:visited{
    color: #775f3e;
}

.card a:hover {
    font-weight: 700;
}

.viewmore{
    text-decoration: none;
    border: none;
    outline: none;
}

.deletebutton{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: #616161;
}

.editbutton{
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
    color: #616161;
}

.createbutton{
    background-color: transparent;
    cursor: pointer;
    margin: 1rem;
    border: none;
    outline: none;
    color: #616161;

}

.text {
    display: block;
    border: none;
    outline: none;
    padding: 1rem;
    color: #775f3e;
    height: auto;
    resize: none;
}

