<app-navbar [idPerson]="idPerson"><div class="preloader"></div></app-navbar>
<app-hello [isPerson]="isPerson" [person]="person"
  ><div class="preloader"></div
></app-hello>
<app-aboutme [isPerson]="isPerson" [person]="person"
  ><div class="preloader"></div
></app-aboutme>
<app-experience [idPerson]="idPerson"
  ><div class="preloader"></div
></app-experience>
<app-education [idPerson]="idPerson"
  ><div class="preloader"></div
></app-education>
<app-skill [idPerson]="idPerson"><div class="preloader"></div></app-skill>
<app-project [idPerson]="idPerson"><div class="preloader"></div></app-project>
<app-contact [idPerson]="idPerson"><div class="preloader"></div></app-contact>
<app-footer><div class="preloader"></div></app-footer>
