.about img{
   

    -webkit-box-shadow: 10px 4px 28px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 4px 28px -19px rgba(0,0,0,0.75);
box-shadow: 10px 4px 28px -19px rgba(0,0,0,0.75);

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

@media only screen and (max-width:576px) {
    .about img{
        width: 35%;
    }
}
@media only screen and (min-width:576px) {
    .about img{
        width: 30%;
    }
}
@media only screen and (min-width:768px) {
    .about img{
        width: 32%;
    }
}
@media only screen and (min-width:992px) {
    .about img{
        width: 15%;
    }
}
@media only screen and (min-width:1200px) {
    .about img{
        width: 15%;
    }
}
@media only screen and (min-width:1400px) {
    .about img{
        width: 15%;
    }
}
