<section id="main" class="main py-3">
  <div class="initial"></div>
  <div class="preloader" *ngIf="!isPerson"></div>
  <div class="container">
    <div *ngIf="isPerson">
      <div class="row">
        <div class="col-12 pt-3">
          <img
            *ngIf="person.image"
            src="{{ person.image }}"
            data-aos="fade-right"
            data-aos-duration="2000"
            alt="{{ person.name }} {{ person.lastname }}"
            class="float-start mb-4 me-4"
          />
          <h3 data-aos="fade-left" data-aos-duration="2000">
            <span class="fw-light">{{ lang?.hello?.helloim }}</span>
            {{ person.name }} {{ person.lastname }}
          </h3>
          <h6 data-aos="fade-right" data-aos-duration="2000">
            {{ person.job }}
          </h6>
          <p class="mt-5">
            <span class="fw-bold">{{ person.aboutMeSub }}</span>
          </p>

          <p [innerHTML]="person.aboutMe"></p>
          <div *ngIf="idPerson == idPersonLogged" class="text-end my-3">
            <button
              type="button"
              class="editbutton"
              routerLink="/edit/{{ idPerson }}"
            >
              <i class="far fa-edit"></i>
              {{ labels?.cardEditButton }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
