.initial{
    padding-top: 110px;
}

.preloader {
    position: relative;
    display: block;
    margin: 10% auto;
    text-align: center;
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

.card{
    border: none;
    outline: none;

    -webkit-box-shadow: -4px 8px 92px -20px rgba(0,0,0,0.3);
    -moz-box-shadow: -4px 8px 92px -20px rgba(0,0,0,0.3);
    box-shadow: -4px 8px 92px -20px rgba(0,0,0,0.3);
}

a{
    color: #775f3e;
    text-decoration: none;
}

a:visited{
    color: #775f3e;
}

a:hover {
    font-weight: 700;
}

.homebutton{
    position: absolute;
    bottom: 1rem;
    right: 11rem;
    cursor: pointer;
    margin: -10px 0 0 -10px;
}

.editbutton{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    margin: -10px 0 0 -10px;
}

.deletebutton{
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    cursor:pointer;
    margin: -10px 0 0 -10px;
}