<app-navbar></app-navbar>
<div class="initial"></div>
<div class="preloader" *ngIf="!hasPersons"></div>

<div class="container py-5">
  <h1 class="text-center py-5"></h1>

  <div class="row mb-3" *ngFor="let person of persons; index as i">
    <div
      class="card my-3"
      data-aos="fade-left"
      data-aos-duration="2000"
      *ngIf="i % 2 === 0"
    >
      <div class="row">
        <div class="col-md-8 py-5 px-5">
          <h4>{{ person.name }} {{ person.lastname }}</h4>
          <h6>{{ person.job }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a
            class="homebutton"
            routerLink="/{{ person.idPerson }}/home"
            fragment="main"
          >
            <i class="far fa-eye"></i> Ver
          </a>
          <a class="editbutton" routerLink="/edit/{{ person.idPerson }}">
            <i class="far fa-edit"></i> Editar
          </a>
          <a class="deletebutton" (click)="deletePerson(person.idPerson)">
            <i class="far fa-trash-alt"></i> Borrar
          </a>
        </div>
      </div>
    </div>
    <div
      class="card my-3"
      data-aos="fade-right"
      data-aos-duration="2000"
      *ngIf="i % 2 === 1"
    >
      <div class="row">
        <div class="col-md-8 py-5 px-5">
          <h4>{{ person.name }} {{ person.lastname }}</h4>
          <h6>{{ person.job }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a
            class="homebutton"
            routerLink="/{{ person.idPerson }}/home"
            fragment="main"
          >
            <i class="far fa-eye"></i> Ver
          </a>
          <a class="editbutton" routerLink="/edit/{{ person.idPerson }}">
            <i class="far fa-edit"></i> Editar
          </a>
          <a class="deletebutton" (click)="deletePerson(person.idPerson)">
            <i class="far fa-trash-alt"></i> Borrar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
