.initial{
    padding-top: 110px;
}

.preloader {
    position: relative;
    display: block;
    margin: 5% auto;
    text-align: center;
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.editbutton{
    background-color: #616161;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
}

.editbutton:hover {
    background-color: transparent;
    color: #616161;
    border: 1px solid #616161;
    transition: 0.5;
}

input{
    margin-bottom: 1rem;
}