<section id="education" class="education py-5">
  <div class="container py-5">
    <h1 class="text-center py-5">{{ lang?.education?.title }}</h1>
    <div class="preloader" *ngIf="!hasEducation"></div>
    <div *ngIf="hasEducation">
      <div class="row pb-3">
        <div class="col-lg-4 my-3" *ngFor="let item of educations; index as i">
          <div
            class="card my-2"
            data-aos="fade-down"
            data-aos-duration="2000"
            *ngIf="i % 3 === 0 || i % 3 === 2"
          >
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="d-flex flex-column align-items-start p-4">
                <div class="w-100 flex-grow-1 flex-shrink-0">
                  <div
                    class="h4 text-start fw-bold"
                    [innerHTML]="item.title"
                  ></div>
                </div>

                <div class="w-100 flex-grow-1 flex-shrink-0">
                  <div
                    class="h6 text-start fw-bold"
                    [innerHTML]="item.when"
                  ></div>
                </div>
                <div class="w-100 flex-grow-1 flex-shrink-0">
                  <div class="h6 text-start" [innerHTML]="item?.subtitle"></div>
                </div>
                <textarea
                  *ngIf="item.text1 != ''"
                  class="text text-start w-100 flex-grow-1 flex-shrink-0"
                  [value]="item?.text1"
                  readonly
                ></textarea>
                <a
                  *ngIf="item.link != ''"
                  class="align-self-start mt-3"
                  href="{{ item.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ item?.link }}</a
                >
                <textarea
                  *ngIf="item.text2 != ''"
                  class="text w-100 text-start flex-grow-1 flex-shrink-0"
                  [value]="item?.text2"
                  readonly
                ></textarea>
              </div>
              <div class="d-flex flex-row justify-content-evenly">
                <a
                  *ngIf="item.viewmore != ''"
                  class="viewmore"
                  href="{{ item.viewmore }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="far fa-eye"></i>
                  {{ lang?.education?.label?.cardViewmoreButton }}</a
                >
                <button
                  *ngIf="idPerson == idPersonLogged"
                  type="button"
                  class="editbutton"
                  routerLink="/{{ idPerson }}/education/edit/{{
                    item.idEducation
                  }}"
                >
                  <i class="far fa-edit"></i>
                  {{ lang?.education?.label?.cardEditButton }}
                </button>
                <button
                  *ngIf="idPerson == idPersonLogged"
                  type="button"
                  class="deletebutton"
                  (click)="deleteEducation(item.idEducation)"
                >
                  <i class="far fa-trash-alt"></i>
                  {{ lang?.education?.label?.cardDeleteButton }}
                </button>
              </div>
            </div>
          </div>
          <div
            class="card my-2"
            data-aos="fade-up"
            data-aos-duration="2000"
            *ngIf="i % 3 === 1"
          >
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="d-flex flex-column align-items-start p-4">
                <div class="w-100 flex-grow-1 flex-shrink-0">
                  <div
                    class="h4 text-start fw-bold"
                    [innerHTML]="item.title"
                  ></div>
                </div>

                <div class="w-100 flex-grow-1 flex-shrink-0">
                  <div
                    class="h6 text-start fw-bold"
                    [innerHTML]="item.when"
                  ></div>
                </div>
                <div class="w-100 flex-grow-1 flex-shrink-0">
                  <div class="h6 text-start" [innerHTML]="item?.subtitle"></div>
                </div>

                <textarea
                  *ngIf="item.text1 != ''"
                  class="text text-start w-100 flex-grow-1 flex-shrink-0"
                  [value]="item?.text1"
                  readonly
                ></textarea>
                <a
                  *ngIf="item.link != ''"
                  class="align-self-start mt-3"
                  href="{{ item.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ item?.link }}</a
                >
                <textarea
                  *ngIf="item.text2 != ''"
                  class="text w-100 text-start flex-grow-1 flex-shrink-0"
                  [value]="item.text2"
                  readonly
                ></textarea>
              </div>
              <div class="d-flex flex-row justify-content-evenly">
                <a
                  *ngIf="item.viewmore != ''"
                  class="viewmore"
                  href="{{ item.viewmore }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="far fa-eye"></i>
                  {{ lang?.education?.label?.cardViewmoreButton }}</a
                >
                <button
                  *ngIf="idPerson == idPersonLogged"
                  type="button"
                  class="editbutton"
                  routerLink="/{{ idPerson }}/education/edit/{{
                    item.idEducation
                  }}"
                >
                  <i class="far fa-edit"></i>
                  {{ lang?.education?.label?.cardEditButton }}
                </button>
                <button
                  *ngIf="idPerson == idPersonLogged"
                  type="button"
                  class="deletebutton"
                  (click)="deleteEducation(item.idEducation)"
                >
                  <i class="far fa-trash-alt"></i>
                  {{ lang?.education?.label?.cardDeleteButton }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      *ngIf="idPerson == idPersonLogged"
      type="button"
      class="createbutton"
      routerLink="/{{ idPerson }}/education/create"
    >
      <i class="fas fa-plus-circle"></i>
      {{ lang?.education?.label?.cardNewButton }}
    </button>
  </div>
</section>
