<section id="skills" class="skills py-5 bg-light">
  <div class="container py-5">
    <h1 class="text-center py-5">{{ lang?.skills?.title }}</h1>
    <div class="row">
      <div class="col-12 pt-3">
        <div class="progress-block">
          <div class="progress my-1" *ngFor="let skill of skills.bars">
            <div *ngFor="let value of values">
              <div
                *ngIf="skill?.progress === value + ''"
                class="pro-value{{ value }} ps-2"
              >
                <p>
                  {{ skill?.item }}
                  <span text-white float-right> {{ skill?.progress }}%</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
