.preloader {
    position: relative;
    display: block;
    margin: 5% auto;
    text-align: center;
      width: 70px;
      height: 70px;
      border: 10px solid #eee;
      border-top: 10px solid #666;
      border-radius: 50%;
      animation-name: girar;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes girar {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
.experience .card{
    border: none;
    outline: none;

    -webkit-box-shadow: -4px 8px 92px -20px rgba(0,0,0,0.3);
    -moz-box-shadow: -4px 8px 92px -20px rgba(0,0,0,0.3);
    box-shadow: -4px 8px 92px -20px rgba(0,0,0,0.3);
}

.experience .card a{
    color: #775f3e;
}

.experience .card a:visited{
    color: #775f3e;
}

.experience .card a:hover {
    font-weight: 700;

}

.experience .card .title{
    color:#616161;
    background-color: #d4f2d5;
}

a{
    color: #775f3e;
    text-decoration: none;
}

a:visited{
    color: #775f3e;
}

a:hover {
    font-weight: 700;
}


.deletebutton{
    background-color: transparent;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    margin: -10px 0 0 -10px;
    border: none;
    outline: none;
    color: #616161;
}

.editbutton{
    background-color: transparent;
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    cursor:pointer;
    margin: -10px 0 0 -10px;
    border: none;
    outline: none;
    color: #616161;
}

.createbutton{
    background-color: transparent;
    cursor: pointer;
    margin: 2rem 2rem 2rem 2rem;
    border: none;
    outline: none;
    color: #616161;

}

